# Dependencies
/vendor/
composer.lock

# Testing
/.phpunit.cache
/coverage/
.phpunit.result.cache
infection.log

# IDE
/.idea/
/.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Cache
/var/
